{% extends 'layout.twig' %}
{% set title="Dashboard" %}
{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        Generatore ricevute Free Circle
    </div>
{% endblock %}
