{% extends 'layout.twig' %}
{% set title="Dati associazione" %}
{% block content %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Dati associazione</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="form-horizontal form-label-left" method="post">
                            <span class="section">Dati</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nome</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" type="text" value="{{ info.name }}" required />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Indirizzo</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="address" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="address" type="text" value="{{ info.address }}" required />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zipcode">CAP</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="zipcode" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="zipcode" type="text" value="{{ info.zipcode }}" required />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">Città</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="city" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="city" type="text" value="{{ info.city }}" required />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cf">Codifce Fiscale</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="cf" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="cf" type="text" value="{{ info.cf }}" required />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="treasurer">Tesoriere</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="treasurer" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="treasurer" type="text" value="{{ info.treasurer }}" required />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bank_name">Nome banca</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="bank_name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="bank_name" type="text" value="{{ info.bank_name }}" required />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cc_number">Numero codice corrente</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="cc_number" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="cc_number" type="text" value="{{ info.cc_number }}" required />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ABI">ABI</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="ABI" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="ABI" type="text" value="{{ info.ABI }}" required />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CAB">CAB</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="CAB" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="CAB" type="text" value="{{ info.CAB }}" required />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CIN">CIN</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="CIN" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="CIN" type="text" value="{{ info.CIN }}" required />
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <a href="/dashboard/info"><button type="submit" class="btn btn-primary">Indietro</button></a>
                                    <button type="submit" class="btn btn-success">Modifica</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
