<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <style type="text/css">
        p { margin-bottom: 0.25cm; line-height: 120% }
        .margin0 { margin-bottom: 0cm; line-height: 100% }
        .margin0-font-normal { margin-bottom: 0cm; font-weight: normal; line-height: 100% }
        .margin0-page-brake { margin-bottom: 0cm; line-height: 100%; page-break-before: always }
        .font-normal { font-weight: normal }
        .font-style-normal { font-style: normal }
        .font-variant-normal { font-variant: normal }
        .font-size-10 { font-size: 8pt }
        .font-size-12 { font-size: 10pt }
        .spacing-normal { letter-spacing: normal }
    </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Ricevuta</title>
</head>
<body lang="it-IT" dir="ltr">
<button onclick="generate()" type="button">Scarica in PDF</button>
<div id="myCanvas">
    <div title="header">
        <p class="margin0-page-brake">
            <img src="{{ base_url() }}/src/logo.jpg" align="left" width="159" height="169" border="0"/><br/>
        </p>
        <div style="float: right">
            <p class="margin0">
                <font face="Calibri, sans-serif">
                    <font size="2" class="font-size-10">
                        <span class="font-normal">{{ info.name }}</span>
                    </font>
                </font>
            </p>
            <p class="margin0-font-normal">
                <font size="2" class="font-size-10">
                    <font face="Calibri, sans-serif"></font>
                    <span class="font-variant-normal">
                            <font color="#000000">
                                <font face="Calibri, sans-serif">
                                    <span class="spacing-normal">
                                        <span class="font-style-normal">{{ info.address }}</span>
                                    </span>
                                </font>
                            </font>
                        </span>
                </font>
            </p>
            <p class="margin0-font-normal font-variant-normal spacing-normal font-style-normal">
                <font color="#000000">
                    <font face="Calibri, sans-serif">
                        <font size="2" class="font-size-10">{{ info.zipcode }} {{ info.city }},</font>
                    </font>
                </font>
            </p>
            <p class="margin0-font-normal">
                <font face="Calibri, sans-serif">
                    <font size="2" class="font-size-10">
                            <span class="font-variant-normal">
                                <font color="#000000">
                                    <span class="spacing-normal">
                                        <span class="font-style-normal">C.</span>
                                    </span>
                                </font>
                            </span>
                        <span class="font-variant-normal">
                                <font color="#000000">
                                    <span class="spacing-normal">
                                        <span class="font-style-normal">F</span>
                                    </span>
                                </font>
                            </span>
                        <span class="font-variant-normal">
                                <font color="#000000">
                                    <span class="spacing-normal">
                                        <span class="font-style-normal">:</span>
                                    </span>
                                </font>
                            </span>
                        <span class="font-variant-normal">
                                <font color="#000000">
                                    <font face="Times New Romans">
                                        <span class="spacing-normal">
                                            <span class="font-style-normal">{{ info.cf }}.</span>
                                        </span>
                                    </font>
                                </font>
                            </span>
                    </font>
                </font>
            </p>
        </div>
    </div>
    <p class="margin0-font-normal font-variant-normal spacing-normal font-style-normal"><br/></p>
    <p class="margin0-font-normal font-variant-normal spacing-normal font-style-normal"><br/></p>
    <p class="margin0-font-normal font-variant-normal spacing-normal font-style-normal"><br/></p>
    <p class="margin0-font-normal font-variant-normal spacing-normal font-style-normal"><br/></p>
    <p class="margin0-font-normal font-variant-normal spacing-normal font-style-normal"><br/></p>
    <p class="margin0-font-normal font-variant-normal spacing-normal font-style-normal"><br/></p>
    <div>
        <p style="margin-bottom: 0.5cm; font-variant: normal; letter-spacing: normal; font-style: normal; line-height: 100%; float: left ">
            <font color="#000000">
                <font face="Times New Romans">
                    <font size="3" class="font-size-12">
                        <b>{{ invoice_title }}</b>
                    </font>
                </font>
            </font>
        </p>
        <p class="margin0" style=" float: right">Ricevuta n. {{ invoice_number }} del {{ invoice_year }}</p>
    </div>
    <p class="margin0-font-normal font-variant-normal spacing-normal font-style-normal"><br/></p>
    <p class="margin0"><br/></p>
    <p class="margin0">
        L’ASSOCIAZIONE “{{ info.name }}”, nella persona del suo legale rappresentante (o tesoriere) {{ info.treasurer }}, con sede legale in {{ info.city }} in
        {{ info.address }}, C.F. {{ info.cf }}
    </p>
    <p class="margin0"><br/></p>
    <p align="center" class="margin0">DICHIARA</p>
    <p class="margin0"><br/></p>
    <p align="justify" style="margin-bottom: 0cm; line-height: 150%">
        di aver ricevuto, quale <b>quota di iscrizione</b>, Euro {{ invoice_amount }}  ({{ invoice_amount_in_words }})<br/>
        da {{ surname }} {{ name }} residente in {{ address }}<br/>
        C.F. {{ CF }}
    </p>
    <p align="justify" style="margin-bottom: 0cm; line-height: 150%">a mezzo:</p>
    {% if payment_type == "bank_check" %}
        {#<p align="justify" class="margin0"><br/></p>#}
        <p align="justify" class="margin0">⁫Assegno bancario n. {{ banck_check_number }} della Banca {{ bank_name }}</p>
    {% elseif payment_type == "bank_transfer" %}
        {#<p align="justify" class="margin0"><br/></p>#}
        <p align="justify" class="margin0">⁫ Bonifico bancario su ns. C/C n. {{ info.cc_number }} presso {{ info.bank_name }} ABI {{ info.ABI }} CAB {{ info.CAB }} CIN {{ info.CIN }}</p>
    {% elseif payment_type == "cash" %}
        {#<p align="justify" class="margin0"><br/></p>#}
        <p align="justify" class="margin0">⁫ Contante</p>
    {% endif %}
    {#<p align="justify" class="margin0"><br/></p>#}
    {#<p align="justify" class="margin0"><br/></p>#}
    <p align="justify" class="margin0" style="float: left">{{ info.city }}, {{ invoice_date }}</p>
    <p align="justify" class="margin0"><br/></p>
    <p align="justify" class="margin0"><br/></p>
    <div>
        <p align="justify" class="margin0" style="float: left">Firma Associazione “{{ info.name }}".</p>
        <p align="justify" class="margin0" style="float: right">P.P.V.</p>
    </div>
    {#<p align="justify" class="margin0"><br/></p>
    <p align="justify" class="margin0"><br/></p>
    <p class="margin0"><br/></p>
    <p style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; text-decoration: none"><br/></p>
    <div title="footer">
        <p align="justify" style="margin-top: 0.5cm; margin-bottom: 0cm; line-height: 100%">
            <i>La presente ricevuta è esclusa dal campo di applicazione IVA ai sensi dell’Art. 4 del D.P.R. 633/1972</i>
        </p>
    </div>#}
</div>

<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>

<script>
    function generate() {
        kendo.drawing
            .drawDOM("#myCanvas",
                {
                    paperSize: "A4",
                    margin: {top: "0cm", bottom: "0cm", left: "1cm", right: "1cm"},
                    scale: 0,
                    height: 500
                })
            .then(function (group) {
                kendo.drawing.pdf.saveAs(group, "{{ invoice_year }}_{{ invoice_number }}-{{ surname }}.pdf")
            });
    }
</script>
</body>
</html>
