{% extends 'layout.twig' %}
{% set title="Nuova ricevuta" %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Nuova ricevuta</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post">
                        <span class="section">Dati</span>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="invoice_number">Titolo ricevuta</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="invoice_title" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="invoice_title" type="text" placeholder="Ex. RICEVUTA PER QUOTA ASSOCIATIVA" required />
                            </div>
                        </div><div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="invoice_number">Numero ricevuta</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="invoice_number" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="invoice_number" type="text" placeholder="Ex. 1" required />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="invoice_year">Anno ricevuta</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="invoice_year" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="invoice_year" type="text" placeholder="Ex. 2018" required />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="invoice_amount">Importo</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="invoice_amount" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="invoice_amount" type="text" placeholder="Ex. 50" required />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="invoice_amount_in_words">Importo in lettere</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="invoice_amount_in_words" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="invoice_amount_in_words" placeholder="Ex. cinquanta" type="text" required />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="receiving_type">Tipo ricevente</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="receiving_type" name="receiving_type" class="form-control col-md-7 col-xs-12">
                                    <option value="none">Scegli</option>
                                    <option value="member">Tesserato</option>
                                    <option value="no_member">Esterno</option>
                                </select>
                            </div>
                        </div>
                        <div id="no_member" class="hidden">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="receiving_name">Nome</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="receiving_name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="receiving_name" type="text" placeholder="Ex. Mario" />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="receiving_surname">Cognome</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="receiving_surname" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="receiving_surname" type="text" placeholder="Ex. Rossi" />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="receiving_address">Indirizzo</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="receiving_address" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="receiving_address" type="text" placeholder="Ex. Via/Corso nomestrada, civico, cap, comune" />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="receiving_CF">Codice fiscale</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="receiving_CF" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="receiving_CF" type="text" placeholder="Ex. CCCMMM00A00CCCCX" />
                                </div>
                            </div>
                        </div>
                        <div id="member" class="hidden">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="invoice_amount_in_words">Tesserato</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="member_id" name="member_id" class="form-control col-md-7 col-xs-12">
                                        <option value="none">Scegli</option>
                                        {% for member in members %}
                                            <option value="{{ member.id }}">{{ member.CF }} - {{ member.name }} {{ member.surname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="payment_type">Mezzo di pagamaneto</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="payment_type" name="payment_type" class="form-control col-md-7 col-xs-12">
                                    <option value="none">Scegli</option>
                                    <option value="bank_check">Assegno bancario</option>
                                    <option value="bank_transfer">Bonifico bancario</option>
                                    <option value="cash">Contanti</option>
                                </select>
                            </div>
                        </div>
                        <div id="bank_check" class="hidden">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bank_check_number">Numero assegno</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="bank_check_number" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="bank_check_number" type="text" placeholder="Ex. 000000000000" />
                                    </div>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bank_name">Nome banca</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="bank_name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="bank_name" type="text" placeholder="Ex. Unicredit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="invoice_date">Data di emissione</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="invoice_date" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="invoice_date" type="text" placeholder="Ex. 01/01/2018" />
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <a href="/dashboard"><button type="submit" class="btn btn-primary">Indietro</button></a>
                                <button type="submit" class="btn btn-success">Genera</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
