<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Generatore ricevute free circle | {{ title }}</title>

    <!-- Bootstrap -->
    <link href="{{ base_url() }}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ base_url() }}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ base_url() }}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ base_url() }}/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{{ base_url() }}/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{{ base_url() }}/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{{ base_url() }}/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="{{ base_url() }}/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/" class="site_title"><i class="fa fa-paw"></i></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>{{ user.username }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-users"></i> Membri associazione <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/dashboard/members">Lista tesserati</a></li>
                                    <li><a href="/dashboard/members/new">Nuovo tesserato</a></li>
                                </ul>
                            </li>
                            <li><a href="/dashboard/invoice/new"><i class="fa fa-edit"></i> Nuova ricevuta</a></li>
                            <li><a><i class="fa fa-cog"></i> Impostazioni <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/dashboard/user/edit">Modifica profilo</a></li>
                                    <li><a href="/dashboard/users/new">Nuovo utente</a></li>
                                    <li><a href="/dashboard/users">Lista utenti</a></li>
                                </ul>
                            </li>
                            <li><a href="/dashboard/info"><i class="fa fa-building"></i> Dati associazione</a></li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                {{ user.username }}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="/dashboard/edit_profile"> Profile</a></li>
                                <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        {% block content %}{% endblock %}
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="{{ base_url() }}/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="{{ base_url() }}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="{{ base_url() }}/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="{{ base_url() }}/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="{{ base_url() }}/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="{{ base_url() }}/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="{{ base_url() }}/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="{{ base_url() }}/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="{{ base_url() }}/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="{{ base_url() }}/vendors/Flot/jquery.flot.js"></script>
<script src="{{ base_url() }}/vendors/Flot/jquery.flot.pie.js"></script>
<script src="{{ base_url() }}/vendors/Flot/jquery.flot.time.js"></script>
<script src="{{ base_url() }}/vendors/Flot/jquery.flot.stack.js"></script>
<script src="{{ base_url() }}/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="{{ base_url() }}/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="{{ base_url() }}/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="{{ base_url() }}/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="{{ base_url() }}/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="{{ base_url() }}/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="{{ base_url() }}/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="{{ base_url() }}/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="{{ base_url() }}/vendors/moment/min/moment.min.js"></script>
<script src="{{ base_url() }}/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="{{ base_url() }}/build/js/custom.min.js"></script>
<script src="{{ base_url() }}/src/js/custom.js"></script>

</body>
</html>
