{% extends 'layout.twig' %}
{% set title="Lista tesserati" %}
{% block content %}
    <div class="right_col" role="main">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista tesserati</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Cognome</th>
                            <th>Codice Fiscale</th>
                            <th>Indirizzo</th>
                            <th>Opzioni</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in members %}
                        <tr>
                            <th>{{ member.name }}</th>
                            <td>{{ member.surname }}</td>
                            <td>{{ member.CF }}</td>
                            <td>{{ member.address }}</td>
                            <td class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cellipsis-h"></i> Scegli <span class="fa fa-chevron-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul>
                                        <li><a class="dropdown-item" href="/dashboard/members/edit/{{ member.id }}">Modifica</a></li>
                                        <li><a class="dropdown-item" href="/dashboard/members/delete/{{ member.id }}">Elimina</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
