{% extends 'layout.twig' %}
{% set title="Nuovo tesserato" %}
{% block content %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Nuovo tesserato</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="form-horizontal form-label-left" method="post">
                            <span class="section">Dati</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nome</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" type="text" required />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Cognome</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="surname" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="surname" type="text" required />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CF">Codice Fiscale</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="CF" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="CF" type="text" required />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Indirizzo</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="address" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="address" type="text" required />
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <a href="/dashboard/members"><button type="submit" class="btn btn-primary">Indietro</button></a>
                                    <button type="submit" class="btn btn-success">Aggiungi</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
