{% extends 'layout.twig' %}
{% set title="Lista utenti" %}
{% block content %}
    <div class="right_col" role="main">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista utenti</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Opzioni</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user_in_list in users %}
                        <tr>
                            <td>{% if user_in_list.id == user.id %}<b>{{ user_in_list.username }}</b>{% else %}{{ user_in_list.username }}{% endif %}</td>
                            <td>
                                {% if user_in_list.id == user.id %}
                                    <button class="btn btn-success">Sei tu</button>
                                {% else %}
                                    <a href="/dashboard/users/edit/{{ user_in_list.id }}"><button class="btn btn-primary" type="button">Modifica</button></a>
                                    <a href="/dashboard/users/delete/{{ user_in_list.id }}"><button class="btn btn-danger" type="button">Elimina</button></a>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
